@model AgendamentoPacientes.Models.Clinica

@{
    ViewData["Title"] = "Adicionar Clínica";
    var error = ViewBag.error;
}

<div class="container">
    <div class="col-md-12">
        <h5>Clínica</h5>
        @if (error != null)
        {
            <h6 class="text-danger">@error</h6>
        }
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <label asp-for="Nome" class="col-md-2 col-form-label"></label>
                <div class="col-md-5">
                    <input asp-for="Nome" class="form-control" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Cnpj" class="col-md-2 col-form-label"></label>
                <div class="col-md-5">
                    <input asp-for="Cnpj" id="Cnpj" class="form-control" />
                    <span asp-validation-for="Cnpj" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Telefone" class="col-md-2 col-form-label"></label>
                <div class="col-md-5">
                    <input asp-for="Telefone" id="Telefone" class="form-control" />
                    <span asp-validation-for="Telefone" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Cep" class="col-md-2 col-form-label"></label>
                <div class="col-md-5">
                    <input asp-for="Cep" id="Cep" class="form-control" />
                    <span asp-validation-for="Cep" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Logradouro" class="col-md-2 col-form-label"></label>
                <div class="col-md-5">
                    <input asp-for="Logradouro" class="form-control" />
                    <span asp-validation-for="Logradouro" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Numero" class="col-md-2 col-form-label"></label>
                <div class="col-md-5">
                    <input asp-for="Numero" class="form-control" />
                    <span asp-validation-for="Numero" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Complemento" class="col-md-2 col-form-label"></label>
                <div class="col-md-5">
                    <input asp-for="Complemento" class="form-control" />
                    <span asp-validation-for="Complemento" class="text-danger"></span>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Salvar</button>
            <a asp-action="Index"><button type="button" class="btn btn-danger">Cancelar</button></a>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}