@model AgendamentoPacientes.Models.Agendamentos

@{
    ViewData["Title"] = "Editar Agendamento";
}

<h4>Agendamento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ClinicaId" class="control-label"></label>
                <select asp-for="ClinicaId" class="form-control" asp-items="ViewBag.Clinica"></select>
                <span asp-validation-for="ClinicaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PacienteId" class="control-label"></label>
                <select asp-for="PacienteId" class="form-control" asp-items="ViewBag.Paciente"></select>
                <span asp-validation-for="PacienteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataAtendimento" class="control-label"></label>
                <input asp-for="DataAtendimento" class="form-control" />
                <span asp-validation-for="DataAtendimento" class="text-danger"></span>
            </div>

            @if (Model.Paciente.Convenio != null)
            {
                <div class="form-group">
                    <label asp-for="Paciente.ConvenioId" class="control-label"></label>
                    <select asp-for="Paciente.ConvenioId" class="form-control" asp-items="ViewBag.Convenio"></select>
                    <span asp-validation-for="Paciente.ConvenioId" class="text-danger"></span>
                </div>
            }

            <div class="form-group">
                <label asp-for="SituacaoAgendamentoId" class="control-label"></label>
                <select asp-for="SituacaoAgendamentoId" class="form-control" asp-items="ViewBag.SituacaoAgendamento"></select>
                <span asp-validation-for="SituacaoAgendamentoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Salvar</button>
                <a asp-action="Index"><button type="button" class="btn btn-danger">Cancelar</button></a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
